<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>DPardy MFEs</title>
  <meta name="importmap-type" use-injector />
  <script type="injector-importmap" src="https://react.microfrontends.app/importmap.json"></script>
  <% if (isLocal) { %>
  <script type="injector-importmap">
    {
      "imports": {
        "@org/root-config": "//localhost:9000/org-root-config.js",
        "@org/app1": "//localhost:9001/org-app1.js",
        "@org/app2": "//localhost:9002/org-app2.js"
      }
    }
  </script>
  <% } %>
   <template id="single-spa-layout">
    <single-spa-router>
  <div class="main-content mt-16">
    <route path="/app1">
      <application name="@org/app1"></application>
    </route>
    <route path="/app2">
      <application name="@org/app2"></application>
    </route>
    <route default>
      <div class="flex flex-row justify-between p-16 gap-4">
        
        <div class="w-1/2 flex justify-center border-r pr-4">
          <application name="@org/app1"></application>
        </div>

        
        <div class="w-1/2 flex justify-center pl-4">
          <application name="@org/app2"></application>
        </div>
      </div>
    </route>
  </div>
</single-spa-router>


  </template>
</head>
<body></body>
  <script src="https://cdn.jsdelivr.net/npm/import-map-overrides@4.1.0/dist/import-map-overrides.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@single-spa/import-map-injector@1.1.0/lib/import-map-injector.js"></script>
  <script>
    window.importMapInjector.initPromise.then(() => {
      import('@org/root-config');
    });
  </script>
  <import-map-overrides-full show-when-local-storage="devtools" dev-libs></import-map-overrides-full>
</body>
</html>